body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkred;
    background-color:burlywood;
    text-align: left;
}

.pageTitle {
    font-size: 60px;
    text-align: center;
    text-shadow: 1px -4px 1px rgb(197, 105, 89);
    text-decoration-line: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: blue;
}

.links {
   color:black;
   font-weight: bold;
}